<div class="card card-custom gutter-bs">
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Informations sur l'enseignant</h3>
    </div>
    <div class="card-toolbar">
      <button type="reset" class="btn btn-success mr-2" (click)="update()" >Enregistrer</button>
    </div>
  </div>
  <!--begin::Body-->
  <div class="card-body px-0">
    <div class="tab-content pt-5">
      <!--begin::Tab Content-->
      <div class="tab-pane active" id="kt_apps_projects_view_tab_2" role="tabpanel" >

        <div class="row">
          <div class="col-lg-9 col-xl-6 offset-xl-3">
            <div class="alert alert-success" role="alert"*ngIf="success">
               Modifié avec succès
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-xl-6 offset-xl-3">
              <h3 class="font-size-h6 mb-5">Détails enseignant:</h3>
            </div>
          </div>
           <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Nom</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Nom " type="text" value=""  [(ngModel)]=" this.enseignant.NOM"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Prénom</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Prénom" type="text" value=""  [(ngModel)]=" this.enseignant.PRENOM"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Spécialité</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Spécialité" type="text" value=""  [(ngModel)]=" this.enseignant.SPECIALITE"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Etablissement</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Etablissement" type="text" value=""  [(ngModel)]="this.enseignant.ETABLISSEMENT"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Université</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Université" type="text" value=""  [(ngModel)]="this.enseignant.UNIVERSITE"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Téléphone</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Téléphone" type="text" value=""  [(ngModel)]="this.enseignant.TELEPHONE"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Grade</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Grade" type="text" value=""  [(ngModel)]=" this.enseignant.GRADE"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Email</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Email" type="email" value=""  [(ngModel)]=" this.enseignant.EMAIL"/>
            </div>
          </div>
      </div>
      <!--end::Tab Content-->
    </div>
  </div>
  <!--end::Body-->
</div>
