<div class="card card-custom gutter-b">
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Informations sur le stage</h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">Modifer les informaitons du stage</span>
    </div>
    <div class="card-toolbar">
      <button type="reset" class="btn btn-success mr-2" (click)="rapportupload(sliderurl)"  >Déposer</button>
    </div>
  </div>
  <!--begin::Form-->
  <form>
    <div class="card-body">
      <div class="form-group row">
        <h6 class="col-form-label col-lg-3 col-sm-12 text-lg-right">Rapport</h6>
        <div class="col-lg-4 col-md-9 col-sm-12">
          <input type='file' #sliderurl (change)="readUrl($event)" id="sliderurl" name="sliderurl" accept="" >
        </div>
      </div>
      <div class="form-group row">
        <h6 class="col-form-label col-lg-3 col-sm-12 text-lg-right">Journal de stage</h6>
        <div class="col-lg-4 col-md-9 col-sm-12">
          <div class="dropzone dropzone-default" id="kt_dropzone_1">
            <div class="dropzone-msg dz-message needsclick">
              <h3 class="dropzone-msg-title">Sélectionner le journal de stage</h3>
              <span class="dropzone-msg-desc">Extension acceptés : .png, .jpg, .pdf
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <h6 class="col-form-label col-lg-3 col-sm-12 text-lg-right">Test plagiat</h6>
        <div class="col-lg-4 col-md-9 col-sm-12">
          <div class="dropzone dropzone-default" id="kt_dropzone_1">
            <div class="dropzone-msg dz-message needsclick">
              <h3 class="dropzone-msg-title">Sélectionner le test de plagiat</h3>
              <span class="dropzone-msg-desc">Extension acceptés : .png, .jpg, .pdf
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
  <!--end::Form-->
</div>
