<div class="card card-custom gutter-bs">
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Détails de la réclamation</h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">Soumettre une réclamtion concernant un problème rencontré </span>
    </div>
    <div class="card-toolbar">
      <button type="reset" class="btn btn-success mr-2" (click)="post()">Soumettre</button>
    </div>
  </div>
  <!--begin::Body-->
  <div class="card-body px-0">
    <div class="tab-content pt-5">
      <!--begin::Tab Content-->
      <div class="alert alert-success" role="alert" *ngIf="success">
        Reclamation ajouté avec succès
      </div>
      <div class="tab-pane active" id="kt_apps_projects_view_tab_2" role="tabpanel">
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Objet</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid" placeholder="Nom et Prénom" type="text"   [(ngModel)]= "OBJET" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-right">Corps</label>
            <div class="col-lg-9 col-xl-6">
              <textarea class="form-control form-control-lg form-control-solid" placeholder="Description de l'organisme" type="text" [(ngModel)]= "CORPS"  ></textarea>
            </div>
          </div>
      </div>
      <!--end::Tab Content-->
    </div>
  </div>
  <!--end::Body-->
</div>
